<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shengma.lanjing">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.XieYiActivity"></activity>
        <activity
            android:name=".ui.wuguanjingyao.ChangJianWenTiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.wuguanjingyao.TongZhiActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.PlayActivity" />
        <activity
            android:name=".ui.wuguanjingyao.ZhiBoJianSheZhiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.wuguanjingyao.GuanYuWoMenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LogingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ZhengJian2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ZhengJianXinXiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.XiuGaiMiMaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SouSuoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WoDeFenSiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WoDeGuanZhuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ZHiBoShiChangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WoDeZhiBoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.XiTongXiaoXiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ZhangHaoAnQuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GeXinSheZhiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChongZhiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.QianBaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.KaiBoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.WoDeZiLiaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.zhibo.BoFangActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.zhibo.ZhiBoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.QiDongActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LogingActivity_zhuce"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LogingActivity_yzm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LogingActivity_mima"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".mediarecorder.RecordActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mediarecorder.MainActivity" />

        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uTTmEt0NeHSsgAKsXGLAMC8mvg6zPNLm" />

        <receiver android:name=".tuisong.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.shengma.lanjing" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" /> <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name=".tuisong.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
    </application>
    <uses-feature android:name="android.hardware.Camera" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

</manifest>