<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shengma.lanjing">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.XiTongXiaoXiActivity"></activity>
        <activity
            android:name=".ui.ZhangHaoAnQuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GeXinSheZhiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChongZhiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.QianBaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.KaiBoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.WoDeZiLiaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.zhibo.BoFangActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.zhibo.ZhiBoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.LogingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LogingActivity_zhuce"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LogingActivity_yzm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LogingActivity_mima"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
    </application>
    <uses-feature android:name="android.hardware.Camera" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>